/************************************

   Global elements' style definition

 ************************************/

:root {
    --primary: #C85A19;
    --secondary: #00503C;
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;

    text-align: justify;
}

h1, h2, h3, h4, h5, h6, a, button {
    font-family: "Keraleeyam", sans-serif;
}

.no-margin {
    margin: 0;
}

/************************************

   Main elements' style definition

 ************************************/

header,
footer {
    background-color: var(--secondary);
    color: #F2F2F2;
}

header {
    margin-bottom: 2.5rem;
}

nav {
    padding: 0 1rem;
}

main {
    flex-grow: 1;
    padding: 2rem;
    max-width: 1056px;
}

section {
    margin: 5rem 0;
    padding: 0.25rem;
}

article {
    background-color: #F5F5F5;

    padding: 0 0.5rem;
    box-shadow: 0 0 0.5rem #999;
}

article.content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

article,
form {
    padding: 1rem;
}

header a {
    text-decoration: none;
    align-items: stretch;
    padding: 1.5rem;
    margin-top: -.5rem;
    margin-bottom: -.5rem;
    border-top: solid 0.5rem var(--secondary);
    border-bottom: solid 0.5rem var(--secondary);
}

header a:hover {
    background-color: #F2F2F2;
    color: var(--primary);
    border-color: var(--primary);
}

footer {
    padding: 1em;
}

footer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

footer img {
    max-width: 100%;
    height: 4rem;
    margin: 0.25rem 0;
}

/************************************/

.nav {
    background-color: #F2F2F2;

    align-self: center;
    font-variant: small-caps;

    border-top: solid 0.5rem var(--secondary);
    border-bottom: solid 0.5rem var(--secondary);
}

.border-top-0 {
    border-top: 0;
}

.nav form {
    margin: 0.5rem;
}

.connection-main > article {
    max-width: 580px;
}

input[type="text"],
input[type="password"] {
    padding: .5rem;
}

.home-body {
    background-image: url("../img/AccueilBG.png");
    background-origin: content-box;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: unset;
}

.home-main > div {
    min-width: 33vw;
    padding: 5rem;
    border: dashed white;
    border-width: 5px 0;
}

.home-main h1 {
    color: white;
}

.borderDashed {
    border-bottom: 3px dashed black;
    margin: 0;
}

/************************************

       Titles global definition

 ************************************/

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.55rem;
}

h4 {
    font-size: 1.45rem;
}

h5 {
    font-size: 1.35rem;
}

h6 {
    font-size: 1.25rem;
}


/************************************

       Width global definition

 ************************************/

.w-25 {
    width: 24%;
}

.w-33 {
    width: 32%;
}

.w-50 {
    width: 49%;
}

.w-66 {
    width: 65%;
}

.w-75 {
    width: 74%;
}

.w-100 {
    width: 100%;
}

/************************************

   Texts characteristics definition

 ************************************/

.txt-justify {
    text-align: justify;
}

.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.error {
    color: red;
    font-weight: bold;
    float: right;
}

/************************************

      General flex definitions

 ************************************/

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-grow {
    flex-grow: 1;
}

.gap-1 {
    gap: 1em;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-stretch {
    justify-content: stretch;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.items-center {
    align-items: center;
}

.items-baseline {
    align-items: baseline;
}

.items-stretch {
    align-items: stretch;
}

.self-center {
    align-self: center;
}

.self-baseline {
    align-self: baseline;
}

.self-stretch {
    align-self: stretch;
}

/************************************

       Table stuff definition

 ************************************/

table {
    text-align: center;
}

.fixed-layout {
    table-layout: fixed;
}

table {
    border-collapse: collapse;
}

td, th {
    border: solid 1px;
    padding: .1rem;
}

th {
    font-variant: small-caps;
    background-color: #ccc;
}

.td-none {
    background-color: inherit;
    border-style: hidden;
    border-left: solid 1px #000;
}

td > form {
    margin: 1rem;
    padding: 0;
}

td > input {
    width: 99%;
}

.tr-noBorder > th,
.tr-noBorder > td {
    border-style: hidden;
}

.tr-hover:hover,
.tr-hover td:hover {
    background-color: #999;
}

/************************************

    Form's items global definition

 ************************************/

label {
    font-variant: small-caps;
    font-weight: bold;
}

input,
textarea,
select {
    border-radius: 0.25rem;
    border: solid 1px #ccc;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #6bbef2;
    box-shadow: 0 0 3px #6bbef2;
}

input:hover,
textarea:hover,
select:hover {
    /*border: solid 1px #333;*/
}

/************************************

     Btn style global definition

 ************************************/

.btn-disabled {
    pointer-events: none;
    user-select: none;
}

td .btn {
    margin: .25rem;
}

.btn-red,
.btn-green,
.btn-blue,
.btn-dark {
    display: block;
    font-size: 1rem;
    padding: .5rem;
    color: black;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.btn-red {
    background-color: #f43352;
    border-color: #cb0b2a;
}

.btn-red:hover {
    background-color: #cb0b2a;
    border-color: #f43352;
}

.btn-green {
    background-color: #c0f433;
    border-color: #8fbe0e;
}

.btn-green:hover {
    background-color: #8fbe0e;
    border-color: #c0f433;
}

.btn-blue {
    background-color: #33c0f4;
    border-color: #0291c6;
}

.btn-blue:hover {
    background-color: #0291c6;
    border-color: #33c0f4;
}

.btn-dark {
    background-color: #8e8d8d;
    border-color: #313030;
}

.btn-dark:hover {
    color: #fff;
    background-color: #313030;
    border-color: #8e8d8d;
}
